body,
body.boxed-wrapper .page-wrapper,
.testimonial-one__single {
    background-color: #071103;
}

.main-header__wrapper,
.stricky-header.main-menu,
.services-one:before,
.brand-one__single:before,
.contact-one__right,
.blog-one__content {
    background-color: #0a1905;
}


.main-header__call-box::before,
.main-header__call-inner::before,
.brand-one,
.testimonial-one__single,
.about-one__video-icon:before {
    border: 1px solid rgba(var(--agrion-white-rgb), .10);
}

.main-menu .main-menu__list>li>a,
.stricky-header .main-menu__list>li>a,
.about-one__text-2,
.about-one__ceo-title,
.services-one__text,
.healthy-food-one__text,
.testimonial-one__text,
.counter-one__text,
.contact-one__text,
.contact-one__contact-list li .content p,
.blog-one__meta li a {
    color: #869780;
}

.main-menu__search,
.main-menu__cart,
.section-title__title,
.about-one__points li .text p,
.about-one__ceo-name,
.services-one__title a,
.healthy-food-one__title,
.counter-one__single h3,
.contact-one__contact-list li .content h4 a,
.contact-one__contact-list li .content h4,
.blog-one__title a {
    color: var(--agrion-white);
}

.main-menu .main-menu__list>li.current>a,
.main-menu .main-menu__list>li:hover>a,
.stricky-header .main-menu__list>li.current>a,
.stricky-header .main-menu__list>li:hover>a {
    color: var(--agrion-white);
    text-shadow: .3px 0 0 rgba(255, 255, 255, .8);
}

.main-menu__search:after {
    background-color: rgba(var(--agrion-white-rgb), .10);
}

.main-menu__search:hover {
    color: var(--agrion-primary);
}

.main-menu__cart:hover {
    color: var(--agrion-primary);
}

.about-one-shape-1 {
    opacity: 0.05;
}

.services-one__bg {
    opacity: 0.02;
}

.services-one__single {
    background-color: var(--agrion-black);
}

.services-one__single:hover .services-one__title a {
    color: var(--agrion-white);
}

.healthy-food-one__single {
    background-color: #071103;
    border: 1px solid rgba(var(--agrion-white-rgb), .10);
}

.testimonial-one {
    background-image: -moz-linear-gradient(90deg, rgb(10, 25, 5) 0%, rgb(7, 17, 3) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(10, 25, 5) 0%, rgb(7, 17, 3) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(10, 25, 5) 0%, rgb(7, 17, 3) 100%);
}

.testimonial-one__client-img img {
    border: 10px solid #071103;
}

.testimonial-one__quote {
    border: 5px solid #071103;
}

.counter-one__bg {
    opacity: 0.05;
}

.contact-one__input-box input[type="text"],
.contact-one__input-box input[type="email"],
.contact-one__input-box textarea {
    background-color: #071103;
    color: #869780;
}

.contact-one__bg {
    opacity: 0.05;
}


.about-one__btn:hover {
    color: var(--agrion-base);
}

.about-one__btn::before {
    background-color: var(--agrion-white);
}

.about-one__btn:hover i {
    background-color: var(--agrion-black);
    color: var(--agrion-white);
}


.contact-one__btn:hover {
    color: var(--agrion-base);
}

.contact-one__btn::before {
    background-color: var(--agrion-white);
}

.contact-one__btn:hover i {
    background-color: var(--agrion-black);
    color: var(--agrion-white);
}


/*  */