<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="">
    <meta name="author" content="">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <title>ALRME</title>

    <!--favicon icon-->
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans:400,600&display=swap"
          rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}">
    <!--Themify icon css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css')}}">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css')}}">
    <!--animated css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
    <!--ytplayer css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.mb.YTPlayer.min.css')}}">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
    <!--custom css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!--responsive css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">

</head>
<body>

<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h2>ALRME</h2>
                <!-- <img src="img/logo-color.png" alt="logo" class="img-fluid"/>-->
            </a>
        </div>
    </nav>
</header>

<div class="main">

    <section class="about-us-section ptb-100">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-12 col-lg-6">
                    <div class="about-img-wrap">
                        <img src="{{url_for('static', filename='img/africamap.PNG')}}" alt="video"
                             class="img-fluid rounded shadow-sm">
                    </div>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="about-content-right mb-md-4 mb-lg-0">
                        <h2>Area Lake Region Malaria Expo</h2>
                        <p>The Expo's objective is to educate and provide the Lake Victoria region communities with
                            knowledge and preventative measures to mitigate the harm caused by the malaria pandemic. The
                            expo will combine three main directives for intervention.</p>
                        <div class="feature-tabs-wrap">
                            <ul class="nav nav-tabs mb-3 border-bottom-0 feature-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center active" href="#feature-tab-1"
                                       data-toggle="tab">
                                        <h6 class="mb-0">Education</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="#feature-tab-2"
                                       data-toggle="tab">
                                        <h6 class="mb-0">Provision</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="#feature-tab-3"
                                       data-toggle="tab">
                                        <h6 class="mb-0">Research</h6>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content feature-tab-content">
                                <div class="tab-pane active" id="feature-tab-1">
                                    <p>According to health professionals, Malaria is the leading cause severe illness in
                                        their communities. Most inhabitants of Lake Victoria have minimal understanding
                                        of Malaria symptoms, the difficulties of diagnosis, and simple preventative
                                        measure to protect them from contracting the disease. The expo will provide
                                        information on how malaria is transmitted from a bite of an infected mosquito
                                        (vector) and how to minimise their breading areas. It will educate on the
                                        elusive nature of malaria in the blood and the difficulties of its diagnosis.
                                        Advice will be provided on symptoms, care/treatment, and home remedies for
                                        adults and children. The expo will provide simple, everyday practices to do at
                                        home and school to minimise / prevent the risk of exposure to the disease,
                                        including the growing of natural insect-repellent plants.</p>
                                </div>
                                <div class="tab-pane" id="feature-tab-2">
                                    <p>Preventative measures can be taken to mitigate exposure of mosquito infected with
                                        the Plasmodium parasite responsible for malaria. The expos participating NGOs
                                        can provide mosquito nets and window screens, topical insect repellents and
                                        rapid diagnostic malaria tests and vaccines. *Possible: NGO supply insect
                                        repellent plants/seeds.</p>
                                </div>
                                <div class="tab-pane" id="feature-tab-3">
                                    <p>Many organizations have done research to find ways to mitigate malaria in high
                                        endemic zones. Studies investigate Malaria vector's breeding grounds in and
                                        around Lake Victoria. Mitigation efforts have been launched to reduce the
                                        prevalence of water hyacinth in the Lake; an invasive species very harmful for
                                        the health of the Lake and that provides a perfect breeding place for malaria
                                        mosquitos. The Kenyan and Indian Governments provided water hyacinth harvesters
                                        to fight against this ever-growing species. Other countries are trying to help
                                        with the use of biological control to remove the weed, especially the
                                        Neochetina weevil, already in use for the same purpose in other malaria endemic
                                        regions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-btns mt-3">
                        <a href="{{url_for('frontend.get_involved')}}" class="btn secondary-solid-btn">More Info / Get
                            Involved</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<footer class="footer-section">

    <div class="footer-bottom py-2">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <p class="copyright-text pb-0 mb-0">Copyrights © 2024. All
                        rights reserved by ALRME</p>
                </div>
                <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                    <div class="social-nav text-right">
                        <ul class="list-unstyled social-list mb-0">
                            <li class="list-inline-item tooltip-hover">
                                <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                <div class="tooltip-item">Facebook</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span
                                    class="ti-twitter"></span></a>
                                <div class="tooltip-item">Twitter</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span
                                    class="ti-linkedin"></span></a>
                                <div class="tooltip-item">Linkedin</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span
                                    class="ti-dribbble"></span></a>
                                <div class="tooltip-item">Dribbble</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<button class="scroll-top scroll-to-target" data-target="html">
    <span class="ti-angle-up"></span>
</button>

<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.mb.YTPlayer.min.js')}}"></script>
<script src="{{url_for('static', filename='js/mixitup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>